@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

/* /////////////////////////////////////////////////////////////// */
/* ////////////////////////// ROOT STYLING ////////////////////// */
/* ///////////////////////////////////////////////////////////// */

:root {
  --main-color: #170826;
  --main-text: #FFF;
  /* --med-text:
  --sub-text: */
  --active-text: green;
}

body {
  background-color: var(--main-color)
}
/* /////////////////////////////////////////////////////////////// */
/* ////////////////////////// NAV STYLING /////////////////////// */
/* ///////////////////////////////////////////////////////////// */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px
}
.navbar-items {
  list-style: none;
  text-decoration: none;
  justify-content: space-around;
}
.navTab {
  color: var(--main-text);
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  padding: 20px;
}
.active-navTab {
  text-decoration: none;
  color: var(--active-text);
  font-family: 'Exo 2', sans-serif;
  padding: 20px;
}

/* /////////////////////////////////////////////////////////////// */
/* ////////////////////////// HOME STYLING ////////////////////// */
/* ///////////////////////////////////////////////////////////// */

.home-header-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  color: var(--main-text);
  font-family: 'Exo 2', sans-serif;
}

/* /////////////////////////////////////////////////////////////// */
/* ////////////////////////// DASH STYLING ////////////////////// */
/* ///////////////////////////////////////////////////////////// */
.dash-header-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  color: var(--main-text);
  font-family: 'Exo 2', sans-serif;
}

/* /////////////////////////////////////////////////////////////// */
/* ////////////////////////// DONATE STYLING //////////////////// */
/* ///////////////////////////////////////////////////////////// */
.donate-header-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  color: var(--main-text);
  font-family: 'Exo 2', sans-serif;
}
/* /////////////////////////////////////////////////////////////// */
/* ////////////////////////// LOGIN STYLING ///////////////////// */
/* ///////////////////////////////////////////////////////////// */
.form-header {
  display: flex;
  justify-content: center;
}
.form-container {
  margin-top: 30vh;
  font-family: 'Exo 2', sans-serif;
  color: var(--main-text);
}
.form-group {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px
}
.error-text {
  text-align: center;
  padding-bottom: 20px;
}

.form-button {
  display: flex;
  justify-content: center;
}
button {
  width: 100px;
  border: 1px solid green;
  background: var(--main-color);
  color: var(--main-text);
  cursor: pointer;
}



/* /////////////////////////////////////////////////////////////// */
/* ////////////////////////// SIGNUP STYLING //////////////////// */
/* ///////////////////////////////////////////////////////////// */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
