@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

:root {
  --main-color: #170826;
  --main-text: #FFF;
  /* --med-text:
  --sub-text: */
  --active-text: green;
}

body {
  background-color: var(--main-color)
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px
}
.navbar-items {
  list-style: none;
  text-decoration: none;
  justify-content: space-around;
}
.navTab {
  color: var(--main-text);
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  padding: 20px;
}
.active-navTab {
  text-decoration: none;
  color: var(--active-text);
  font-family: 'Exo 2', sans-serif;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
